APP_NAME=Test
APP_ENV=local
APP_KEY=key
APP_DEBUG=boolean
APP_TIMEZONE=UTC
APP_URL=url

DB_CONNECTION=dbconnection
DB_HOST=localhost
DB_PORT=PORT
DB_DATABASE=dbname
DB_USERNAME=dbusername
DB_PASSWORD=dbpwd

SESSION_DRIVER=file

LOG_CHANNEL=stack
LOG_LEVEL=debug

BROADCAST_DRIVER=log
CACHE_STORE=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync

ALPHAVANTAGE_API_KEY=your_alphavantage_api_key