doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Skyhouse Dashboard
    if assets && assets['src/main.ts'] && assets['src/main.ts'].css
      each cssFile in assets['src/main.ts'].css
        link(rel='stylesheet' href=cssFile)
  body
    block content
    if assets && assets['src/main.ts'] && assets['src/main.ts'].file
      script(type='module' src=assets['src/main.ts'].file)
